body {
	background-image: url("library.jpeg");
        background-size: cover;
        height: 100vh;
	border: 2px solid transparent;
        overflow: hidden;
}


img {
	width: 55%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
}

.character img {
	position: absolute;
	width: 250px;
	height: 250px;
	margin-top: 35%;
	animation: charmove 5s;
	animation-fill-mode: forwards;
	z-index: 2;
}

@keyframes charmove {
	0% {transform: translate(-50px, 0px);}
	100% {transform: translate(400px, -20px);}
}

.c1 {
	position: absolute;
	z-index: 1;
	margin-top: 28%;
	margin-left: 5%;
	height: 150px;
	width: auto;
}

.c2 {
	position: absolute;
	z-index: 1;
	margin-top: 5%;
	margin-left: 45%;
	height: 300px;
}

.g1 {
	position: absolute;
	z-index: 1;
	margin-top: 10%;
	margin-left: 45%;
	height: 30px;
	width: 20px;
	animation: gMove 1s infinite;
}

.b1 {
	position: absolute;
	z-index: 2;
	left: 30vw;
	top: 20vh;
	width: 40%;
}

.b2 {
	position: absolute;
	z-index: 2;
	top: 30vh;
	left: 30vw;
	width: 40%;
}

@keyframes gMove {
	0% {transform: translate(200px, -20px);}
	100% {transform: translate(-50px, 0px);}
}

.dropbtn {
	background-color: #FFF6D8;
	color: black;
	font-family: "Eagle Lake";
	padding: 16px;
	font-size: 20px;
	border: 7px #1E139C solid;
	cursor: pointer;
	width: 580px;

}

.dropdown {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 70px;
	background-color: #FFF6D8;
	border: 7px #1E139C solid;
	min-width: 250px;
	padding: 20px;
	z-index: 4;
}

.dropdown-content label {
	color: black;
	font-family: "Eagle Lake";
	font-size: 17px;
	padding: 55px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}